<div class="block_whtbg_shadow">
  <div class="w-row">
    <div class="w-col w-col-6">
      <div class="workshop-date"></div><img src="<%=asset_path('image_Teachers-Workshop.png')%>" srcset="<%=asset_path('image_Teachers-Workshop-p-500.png') %> 500w, <%= asset_path('image_Teachers-Workshop.png') %>" sizes="(max-width: 479px) 75vw, (max-width: 767px) 600px, (max-width: 779px) 77vw, (max-width: 991px) 42vw, 30vw">
      <a href="<%= workshop.link %>" target="_blank" data-w-id="825ac29d-ee58-bc44-caa9-832ad3d236ed" class="button_green full_width w-button" >REGISTER</a>
    </div>
    <div class="w-col w-col-6">
      <h5 class="text_center"><%= workshop.title %></h5>
      <h2><%= workshop.date %></h2>
      <h5 class="text_center"><%= workshop.location %></h5>
      <div class="paragraph-2"><%= workshop.description %></div>
    </div>
  </div>
</div>
