<% if user_signed_in? %>
  <div class="content-wrapper">
    <h1 class="main_heading_whitebg">WORKSHOPS</h1>
    <%= render partial: 'workshop', collection: @workshops, as: :workshop %>
  </div>
<% else %>
  <div class="section">
    <div class="container_80px w-container">
      <div class="section-heading centered">UPCOMING WORKSHOPS</div>
      <%= render partial: 'workshop', collection: @workshops, as: :workshop %>
    </div>
  </div>
  <div class="section_blue">
    <div class="container w-container">
      <h1 class="section-heading centered white">Virtual workshops</h1>
      <h3 class="heading_white">Not local to any of our in-person workshops? Want to bring this fun workshop into your own school, district, or community? Apply now for our virtual workshop pilot! Here’s how it works:<br></h3>
      <div class="w-row">
        <div class="w-col w-col-4">
          <h2 class="heading_white">STEP 1</h2><img src="<%=aws_directory('icon_people_skyblue.svg')%>" width="200" class="image_member">
          <h5 class="heading_white">Book a date &amp; time, gather 4 participants minimum &amp; select a point-of-contact for QPi</h5>
        </div>
        <div class="w-col w-col-4">
          <h2 class="heading_white">STEP 2</h2><img src="<%=aws_directory('icons_shippingbox_skyblue.svg')%>" width="200" class="image_member">
          <h5 class="heading_white">Point-of-contact will receive QPi workshop package and instructions for prep</h5>
        </div>
        <div class="w-col w-col-4">
          <h2 class="heading_white">STEP 3</h2><img src="<%=aws_directory('icons_chat_skyblue.svg')%>" width="200" class="image_member">
          <h5 class="heading_white">Chat with us live and experience the QPi workshop from the comfort of your own classroom or home!<br></h5>
        </div>
      </div><a href="https://docs.google.com/forms/d/1cS0RqufwO-mE-ZhhkLGhVuX5AFcyGoEVOcm-maIKSAE/viewform?ts=5b8efb6f&amp;edit_requested=true" target="_blank" class="button_green full_width w-button">REQUEST QUOTE FOR WORKSHOP<br></a>
    </div>
  </div>

<% end %>
