  <div class="section">
    <div class="container_80px w-container">
      <h2 class="section-heading">LOG INTO YOUR ACCOUNT</h2>
      <%- flash.each do |name, msg| -%>
        <% if msg != "Signed out successfully." %>
          <%= content_tag :div, msg, :id => "flash_#{name}", class:"text_sky-blue" if msg.is_a?(String) %>
        <% end %>
      <%- end -%>
      <div class="text_sky-blue"><%= devise_error_messages! %></div>
      <div class="form-block w-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <%= f.email_field :email, required: true, class: "text-field center w-input", maxlength: 256, placeholder: 'Email' %>

          <%= f.password_field :password, class: "text-field center w-input", maxlength: 256, placeholder: 'Password',  autocomplete: "off" %>
          <div class="text-block-3"><%= link_to "Forgot your password?", password_reset_path, class: "link_signup" %></div>
          <%= f.submit "LOG IN", class:'button_blue _75width center w-button' %>
        <% end %>
      </div>
      <div class="text_agreement center">Don't have an account? <a href="/sign-up" class="link_signup">Sign Up</a.</div>
    </div>
  </div>
