  <div class="section">
    <div class="container_80px w-container">
      <h2 class="section-heading">LOG INTO YOUR ACCOUT</h2>
      <% if flash[:message] %>
        <div class="text_sky-blue">Check your email for a link to reset your password. If it doesn&#x27;t appear within a few minutes, check your spam folder.</div>
      <% end %>
      <div class="form-block w-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <%= f.email_field :email, required: true, class: "text-field center w-input", maxlength: 256, placeholder: 'Email' %>

          <%= f.password_field :password, class: "text-field center w-input", maxlength: 256, placeholder: 'Password',  autocomplete: "off" %>
          <div class="text-block-3"><%= link_to "Forgot your password?", password_reset_path %></div>
          <%= f.submit "LOG IN", class:'button_blue _75width center w-button' %>
        <% end %>
      </div>
      <div class="text_agreement center">Already have an account? <a target="_blank" href="/register">Sign Up</a>.</div>
    </div>
  </div>
