<div class="section">
  <div class="container_80px w-container">
    <div class="section-heading centered">Who we ARE</div>
    <div class="row-4 w-row">
      <div class="w-col w-col-6"><img src="<%=aws_directory('image_Teachers-Workshop.png')%>" srcset="<%=aws_directory('image_Teachers-Workshop-p-500.png')%> 500w, <%=aws_directory('image_Teachers-Workshop.png')%> 600w" sizes="(max-width: 479px) 92vw, (max-width: 645px) 93vw, (max-width: 767px) 600px, (max-width: 991px) 354px, 460px"></div>
      <div class="w-col w-col-6">
        <p class="paragraph">QPi Education is a professional development company that enables educators to implement STEM instruction with a focus on practical and project learning relevant to today’s world. We provide a comprehensive professional development package that prepares and supports educators, even without technical expertise, to bring more engaging technical learning experiences to the classroom. Our purpose is to democratize STEM education by demystifying complex subjects using engineering and design thinking.</p><a href="https://medium.com/@qpieducation/looking-for-tasty-pi-learn-about-it-with-other-teachers-f5dbe4ce16cb" target="_blank" class="button blue w-button">LEARN MORE</a></div>
    </div>
  </div>
</div>
<div class="section_blue">
  <div class="container w-container">
    <h1 class="section-heading centered white">HOW WE ARE DIFFERENT</h1>
    <div class="row-4 w-row">
      <div class="w-col w-col-6">
        <p class="paragraph text_white">We introduce new ways of teaching required STEM concepts that bring relevance to everyday life. As a team of mostly engineers who regularly volunteer in schools, we provide the technical expertise to complement the teacher’s skill set to deliver effective and engaging STEM education. <br><br>Our educational materials were built by understanding how both under-resourced students and teachers digest complex material and refined through many hours of trial and error. We lower the barrier for teachers without technical expertise by focusing on student-directed learning.</p>
      </div>
      <div class="w-col w-col-6"><img src="<%=aws_directory('images_alamedafaire_kid.jpg')%>" srcset="<%=aws_directory('images_alamedafaire_kid-p-500.jpeg')%> 500w, <%=aws_directory('images_alamedafaire_kid-p-800.jpeg')%> 800w, <%=aws_directory('images_alamedafaire_kid.jpg')%> 1020w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 354px, 460px"></div>
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQFfBXdgiAKWWUJcpyHa0uDRzPo6tSlC7Tt6HnVdkOWd-oeMuUpbkd7DgtLzD7yCRm_QJUTDowb4bog/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="375" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTj3lljlLOIoSJHNACxAisCN89u4-U10Y6TdD9PtQUWZ_YF-BiSxiUpqHpq1j71RY3dRHa7RLYI0W8P/embed?start=false&loop=false&delayms=3000" frameborder="0" width="640" height="375" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>


    </div>
  </div>
</div>
<div class="section">
  <div class="container w-container">
    <div class="section-heading centered">Our Impact</div>
    <div data-duration-in="300" data-duration-out="100" class="w-tabs">
      <div class="w-tab-menu">
        <a data-w-tab="Tab 1" class="tab-link-tab-2 w-inline-block w-tab-link">
          <div>Lawrence Hall of Science</div>
        </a>
        <a data-w-tab="Tab 2" class="tab-link-tab-2 w-inline-block w-tab-link">
          <div>WCCCD Partner Spot Light</div>
        </a>
        <a data-w-tab="Tab 3" class="tab-link-tab-2 w-inline-block w-tab-link w--current">
          <div>Richmond Pilot</div>
        </a>
      </div>
      <div class="w-tab-content">
        <div data-w-tab="Tab 1" class="w-tab-pane">
          <div class="block_impact">
            <div class="w-row">
              <div class="w-col w-col-6"><img src="<%=aws_directory('image_Lawrence-Hall-of-Science.png')%>" width="354" srcset="<%=aws_directory('image_Lawrence-Hall-of-Science-p-500.png')%> 500w, <%=aws_directory('image_Lawrence-Hall-of-Science.png')%> 600w" sizes="(max-width: 479px) 89vw, 354px"></div>
              <div class="w-col w-col-6">
                <h4>FAMILY DAY AT LAWRENCE HALL OF SCIENCE</h4>
                <p class="paragraph">The Lawrence Hall of Science at University of California, Berkeley, held a Family Learning Workshop on July 28 for parents and children to learn how to code using Raspberry Pi. Around 10 families attended the event.QPi Education was present to teach the children and their families about science topics. </p><a href="https://www.theepochtimes.com/qpi-education-at-lawrence-livermore-national-laboratory_2610333.html" target="_blank" class="button_hollow_blue centered w-button">LEARN MORE</a></div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 2" class="w-tab-pane">
          <div class="block_impact">
            <div class="w-row">
              <div class="w-col w-col-6"><img src="<%=aws_directory('image_school_WCCUSD.jpeg')%>"></div>
              <div class="w-col w-col-6">
                <h4>WEST CONTRA CONSTA UNIFIED SCHOOL DISTRICT (WCCUSD) PARTNER SPOTLIGHT</h4>
                <p class="paragraph">Our co-founders, Vivien and Albert, left their corporate jobs to pursue  the startup endeavor because they truly believe that any teacher, no matter their background, can bring engineering into their classroom. Vivien is also committed to support the STEM education community, she serves as a member of the WCCUSD Advisory Board to continue to offer her expertise in supporting the teachers and students.</p><a href="https://wccusdpathways.org/partner-spotlight-vivien-macnguyen/" target="_blank" class="button_hollow_blue centered w-button">LEARN MORE</a></div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 3" class="w-tab-pane w--tab-active">
          <div class="block_impact">
            <div class="w-row">
              <div class="w-col w-col-6">
                <div style="padding-top:56.27659574468085%" id="w-node-aa457350-a738-5f57-e16e-aa1b2b209f93" class="video-2 w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F224855547&dntp=1&url=https%3A%2F%2Fvimeo.com%2F224855547&image=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F644000899_1280.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=vimeo" scrolling="no" frameborder="0" allowfullscreen=""></iframe></div>
              </div>
              <div class="w-col w-col-6">
                <h4>RICHMOND SUMMER 2017 PILOT</h4>
                <p class="paragraph">QPi&#x27;s pioneer pilot program was implemented in partnership with the FIRST Robotics Team 841 at Richmond High School in Richmond, CA. More than a dozen youths took part in the six-week program facilitated by volunteer engineer Aaron Hu. The program ended with a festive celebration and lots of remote-control car racing.</p><a href="http://richmondstandard.com/chevron/2017/07/11/chevron-engineers-help-make-coding-fun-at-richmond-high/" target="_blank" class="button_hollow_blue centered w-button">LEARN MORE</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section_blue">
  <div class="container w-container">
    <h1 class="section-heading centered white">OUR TEAM</h1>
    <div class="section-subheading center white">We are a team of engineers, designers, and Cal students who are supported by UC Berkeley&#x27;s Haas Business School LAUNCH startup accelerator.</div>
    <div class="team-row w-row">
      <div class="w-col w-col-4"><img src="<%=aws_directory('Vivien.png')%>" class="team-image">
        <div class="team-name">
          <h1 class="section-subheading center white">Vivien MacNGuyen</h1>
          <p class="paragraph text_center white">CEO, Co-Founder</p>
        </div>
      </div>
      <div class="w-col w-col-4"><img src="<%=aws_directory('Albert2.png')%>" class="team-image">
        <div class="team-name">
          <h1 class="section-subheading center white">ALBERT HWANG</h1>
          <p class="paragraph text_center white">COO, Co-Founder</p>
        </div>
      </div>
      <div class="w-col w-col-4"><img src="<%=aws_directory('Stephanie.png')%>" class="team-image">
        <div class="team-name">
          <h1 class="section-subheading center white">Stephanie Wang</h1>
          <p class="paragraph text_center white">Lead Designer</p>
        </div>
      </div>
    </div>
  </div>
</div>
