<div class="section">
  <div class="container_80px w-container">
    <div class="section-heading centered">UPCOMING WORKSHOPS</div>
    <div class="block_whtbg_shadow">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="workshop-date"></div><img src="<%=asset_path('image_Teachers-Workshop.png')%>" srcset="<%=asset_path('image_Teachers-Workshop-p-500.png')%> 500w, <%=asset_path('image_Teachers-Workshop.png')%> 600w" sizes="(max-width: 479px) 79vw, (max-width: 722px) 83vw, (max-width: 767px) 600px, (max-width: 991px) 324px, 430px"><a href="https://www.eventbrite.com/e/an-introduction-to-teaching-raspberry-pi-august-tickets-47680189731?aff=LandingPage" data-w-id="41c74aa0-5bab-cb8f-2271-2f420315e514" class="button_green full_width w-button">REGISTER</a></div>
        <div class="w-col w-col-6">
          <h5 class="text_center">Intro to Teaching Using Raspberry Pi</h5>
          <h2>August 25, 2018</h2>
          <h5 class="text_center">Berkeley, CA</h5>
          <div class="paragraph-2">This experience will open a world of possibilities for teaching with Raspberry Pi and show you how physical computing can change STEM education in the classroom. This class is designed to be a completely hands-on introduction. No previous programming experience is required!</div>
        </div>
      </div>
    </div>
    <div class="block_whtbg_shadow">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="workshop-date"></div><img src="<%=asset_path('image_Teachers-Workshop.png')%>" srcset="<%=asset_path('image_Teachers-Workshop-p-500.png')%> 500w, <%=asset_path('image_Teachers-Workshop.png')%> 600w" sizes="(max-width: 479px) 79vw, (max-width: 722px) 83vw, (max-width: 767px) 600px, (max-width: 991px) 324px, 430px"><a target="_blank" href="https://www.eventbrite.com/e/an-introduction-to-teaching-raspberry-pi-denver-edition-tickets-48736403896?aff=LandingPage" data-w-id="b9ac7832-7b66-fc50-0c1a-fdba1f120d9d" class="button_green full_width w-button">REGISTER</a></div>
        <div class="w-col w-col-6">
          <h5 class="text_center">Intro to Teaching Using Raspberry Pi</h5>
          <h2>September 29, 2018</h2>
          <h5 class="text_center">Lone tree library, CO</h5>
          <div class="paragraph-2">This experience will open a world of possibilities for teaching with Raspberry Pi and show you how physical computing can change STEM education in the classroom. This class is designed to be a completely hands-on introduction. No previous programming experience is required!</div>
        </div>
      </div>
    </div>
  </div>
</div>
