<div class="content-wrapper">
  <h1 class="name_heading">Edit Profile</h1>
  <div class="w-clearfix">
    <div class="w-form">
      <%= form_with model: @user, multipart: true do |f| %>
        <%= f.label :name, 'Name:', class: "profile_label" %>
        <%= f.text_field :name, autofocus: true, required: true, class: "text-field-2 w-input"   %>

        <%= f.label :email, 'Email Address:', class: "profile_label" %>
        <%= f.email_field :email, required: true, class: "text-field-2 w-input" %>

        <%= f.label :profile_pic %>
        <%= f.file_field :profile_pic %>

        <%= f.label :location, 'Location:', class: "profile_label" %>
        <%= f.text_field :location, class: "text-field-2 w-input", placeholder: 'Berkeley, CA' %>

        <%= f.label :occupation, 'Occupation:', class: "profile_label" %>
        <%= f.text_field :occupation, class: "text-field-2 w-input", placeholder: 'Math Teacher' %>

        <%= f.label :grade, 'Grade:', class: "profile_label" %>
        <%= f.text_field :grade, class: "text-field-2 w-input", placeholder: '10th Grade' %>

        <%= f.label :school, 'School:', class: "profile_label" %>
        <%= f.text_field :school, class: "text-field-2 w-input", placeholder: 'ABC High School' %>

        <%= f.label :facebook, 'Facebook:', class: "profile_label" %>
        <%= f.text_field :facebook, class: "text-field-2 w-input", placeholder: 'Facebook Link' %>

        <%= f.label :pinterest, 'Pinterest:', class: "profile_label" %>
        <%= f.text_field :pinterest, class: "text-field-2 w-input", placeholder: 'Pinterest Link' %>

        <%= f.label :twitter, 'Twitter:', class: "profile_label" %>
        <%= f.text_field :twitter, class: "text-field-2 w-input", placeholder: 'Twitter Link' %>

        <%= f.label :google, 'Google+:', class: "profile_label" %>
        <%= f.text_field :google, class: "text-field-2 w-input", placeholder: 'Google+ Link' %>

        <%= f.submit "Save", class: "button_blue full-width w-button" %>
      <% end %>
    </div>
  </div>
</div>
