<h2> Edit Profile </h2>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autofocus: true, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
