<div class="w-col w-col-6">
  <div><img src="<%=aws_directory('KidandCar.png') %>" srcset="<%=aws_directory('KidandCar-p-500.png')%> 500w, <%=aws_directory('KidandCar-p-800.png')%> 800w, <%=aws_directory('KidandCar-p-1080.png')%> 1080w, <%=aws_directory('KidandCar.png')%> 1088w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 90vw, (max-width: 991px) 45vw, 34vw" class="image_community">
    <h3 class="header_community"><%= community.title %></h3>
  </div>
  <%= render 'join_or_view_button', community: community %>
</div>
