<% if communities.empty? %>
  <div class="div-block-3">
    <div class="div-block-4">
      <h2 class="heading-5">You&#x27;re not part of any communities. Explore our communities and join in on the fun!</h2>
    </div>
  </div>
<% else %>
  <div class="community_wrapper">
    <div class="row_community w-row">
      <% communities.each do |community| %>
        <div class="w-col w-col-6">
          <%= link_to community_path(community), class: "link-block w-inline-block" do %>
            <img src="<%=asset_path('KidandCar.png')%>" srcset="<%=asset_path('KidandCar-p-500.png')%> 500w, <%=asset_path('KidandCar-p-800.png')%> 800w, <%=asset_path('KidandCar-p-1080.png')%> 1080w, <%=asset_path('KidandCar.png')%> 1088w" sizes="100vw" class="image_community">
            <h3 class="header_community"><%= community.title %></h3>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
