  <div class="content-wrapper">
    <h1 class="main_heading_whitebg">COMMUNITIES</h1>
    <div class="block_whtbg_shadow">
      <% if flash[:message] %>
        <p style="color:red;"> <%= flash[:message] %> </p>
      <% end %>
      <p>Communities are a place where...<br>communicate with others, find resources, joining it, find like-minded people.<br>Each community usually aligns with a workshop</p>
    </div>
    <div class="community_wrapper">
      <div class="row_community w-row">

        <%= render partial: 'community', collection: @communities, as: :community %> 

        <div class="w-col w-col-6">
          <div><img src="<%= asset_path('image_alamedafairekid2.jpg')%>" srcset="<%= asset_path('image_alamedafairekid2-p-500.jpeg')%> 500w, <%= asset_path('image_alamedafairekid2-p-800.jpeg')%> 800w, <%= asset_path('image_alamedafairekid2.jpg')%> 952w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 90vw, (max-width: 991px) 45vw, 34vw" class="image_community">
            <h3 class="header_community">NEW COMMUNITY<br>COMING SOON</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
