  <div id="confirmModal" class="confirmation_modal">
    <!-- Modal content -->
    <div class="confirmation_box w-clearfix">
      <span class="close">&times;</span> <br /> <br />
      <h2>Confirm you&#x27;d like to leave the community.</h2>
      <%= link_to "I'd like to leave", @community_user, method: :delete, class: "button_blue full-width w-button" %>
      <a href="#" data-w-id="1e010a84-1696-0cea-bfca-65d957558b41" class="button_hollow_blue full_width w-button stay">I&#x27;d Like to stay</a>
    </div>
  </div>

  <div class="content-wrapper">
    <h4 class="main_heading_whitebg"><%= @community.title %></h4>
    <%= render 'community_navbar' %>
    <%#= react_component("Community", {community: @community}) %>
    <%= render 'about', community: @community %>

    <%= render 'workshops', workshops: @community.workshops %>

    <%= render 'resources', community: @community %>

  </div>
