  <div data-collapse="small" data-animation="default" data-duration="400" class="navigation-bar w-nav">
    <div class="w-container">
      <nav role="navigation" class="navigation-menu w-clearfix w-nav-menu"><img src="<%=asset_path('Logo_CircleOnly.svg')%>" width="46" class="brand-link"><a href="contact.html" class="navigation-link w-nav-link">Workshops</a><a href="contact.html" class="navigation-link w-nav-link">Communities</a><a href="contact.html" class="navigation-link w-nav-link">Contact</a><a href="signup.html" class="button_blue w-button w--current">SIGN UP FREE</a><a href="#" class="hollow_button_blue w-button">Log IN</a></nav>
      <div class="hamburger-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <h2 class="section-heading">SIGN UP TO GET FREE ACCESS TO OUR COMMUNITIES</h2>
      <div class="w-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "email-form"}) do |f| %>
          <%= devise_error_messages! %>

          <%= f.text_field :name, autofocus: true, required: true, class: "text-field center w-input", maxlength: 256, placeholder: 'Full Name' %>

          <%= f.email_field :email, required: true, class: "text-field center w-input", maxlength: 256, placeholder: 'Email' %>

          <%= f.password_field :password, class: "text-field center w-input", maxlength: 256, placeholder: 'Password',  autocomplete: "off" %>

          <%= f.submit "SIGN UP", class:'button_blue _75width center w-button' %>
        <% end %>
      </div>
    </div>
  </div>
