<div class="section">
  <div class="container_80px w-container">
    <h2 class="section-heading">SIGN UP TO GET FREE ACCESS TO OUR COMMUNITIES</h2>
    <div class="form-block w-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "email-form"}) do |f| %>
        <ul style="color:red; list-style-type:none"><%= devise_error_messages! %></ul>

        <%= f.text_field :name, autofocus: true, required: true, class: "text-field center w-input", maxlength: 256, placeholder: 'Full Name' %>

        <%= f.email_field :email, required: true, class: "text-field center w-input", maxlength: 256, placeholder: 'Email' %>

        <%= f.password_field :password, class: "text-field center w-input", maxlength: 256, placeholder: 'Password',  autocomplete: "off" %>
        <div class="checkbox_subscribe width_75 w-checkbox">
          <%= f.check_box :subscribed, class: "checkbox w-checkbox-input", checked: true %>
          <label for="Subscribe" class="checkbox-label w-form-label">Subscribe to QPi&#x27;s newsletter to be first notified about upcoming workshops.</label>
        </div>

        <div class="text_agreement">By clicking on Sign Up, you agree to QPi Education&#x27;s <a href="#" class="link-2">Terms and Condition of Use</a> and <a href="#" class="link-2">Privacy Policy</a>.<a href="#"></a></div>

        <%= f.submit "SIGN UP", class:'button_blue _75width center w-button' %>
      <% end %>
    </div>
  </div>
</div>
